@import "./menu.scss";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#board {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

#app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.is-hidden {
	display: none !important;
}
